<!DOCTYPE html>
<html>
<head>
    <title>Nowa wiadomość z formularza kontaktowego</title>
</head>
<body>

--
<p>Użytkownik <b>{{ firstName }} {{ lastName }}  </b> zapisał się na termin: {{ dateFrom }} - {{ dateTo }} </p>

</body>
</html>
